<div class="CM-default__content-title">
  <h1>
    平台管理
    <small>欢迎您！</small>
  </h1>
</div>
<div class="CM-default__content-subtitle">
  <button nz-button nzType="primary" (click)=handleNew(CreateFormTemplate)>增加新平台</button>
    <nz-table
      [nzData]=renderList
      [nzFrontPagination]=false
      [nzLoading]=loading
      [nzTotal]=total
      (nzPageIndexChange)="queryPlatform($event)">
      <thead>
      <tr>
        <th>平台ID</th>
        <th>平台中文名称</th>
        <th>平台英文名称</th>
        <th>平台操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of renderList">
        <td>{{data.platformId}}</td>
        <td>{{data.platformCnName}}</td>
        <td>{{data.platformEnName}}</td>
        <td>
          <button nz-button nzType="primary" (click)="handleEdit(data.reName,data.platformId, editFormTemplate)">修改平台信息</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="danger" (click)="handleDelete(data.platformId)">删除平台</button>
        </td>
      </tr>
      </tbody>
    </nz-table>
</div>
<ng-template #editFormTemplate>
  <form nz-form [formGroup]="editForm" class="login-form">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          平台中文名称：
          <input type="text" nz-input formControlName="platformCnName" placeholder="平台中文名称">
        </nz-input-group>
        <nz-form-explain *ngIf="editForm.get('platformCnName').dirty && editForm.get('platformCnName').errors">请输入平台中文名称</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          平台英文名称：
          <input type="text" nz-input formControlName="platformEnName" placeholder="平台英文名称">
        </nz-input-group>
        <nz-form-explain *ngIf="editForm.get('platformEnName').dirty && editForm.get('platformEnName').errors">请输入平台英文名称</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
<ng-template #CreateFormTemplate>
  <form nz-form [formGroup]="createForm" class="login-form">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          平台中文名称：
          <input type="text" nz-input formControlName="platformCnName" placeholder="平台中文名称">
        </nz-input-group>
        <nz-form-explain *ngIf="createForm.get('platformCnName').dirty && createForm.get('platformCnName').errors">请输入平台中文名称</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          平台英文名称：
          <input type="text" nz-input formControlName="platformEnName" placeholder="平台英文名称">
        </nz-input-group>
        <nz-form-explain *ngIf="createForm.get('platformEnName').dirty && createForm.get('platformEnName').errors">请输入平台英文名称</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          平台缩写：
          <input type="text" nz-input formControlName="reName" placeholder="平台缩写">
        </nz-input-group>
        <nz-form-explain *ngIf="createForm.get('reName').dirty && createForm.get('reName').errors">请输入平台缩写</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
