.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
.title{
  height: 100%;
  display: flex;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
  color: #ccc;
  h1{
    color: #666;
    font-size: 30px;
  }
}
.header-left{
  float: right;
  padding-right: 20px;
}