<div class="CM-default__content-title">
  <h1>
    交易管理 -- 交易记录
    <small>欢迎您！</small>
  </h1>
</div>
<nz-table
  [nzData]=renderList
  [nzLoading]=loading
  [nzTotal]=total
  [nzFrontPagination]="false">
  <thead>
  <tr>
    <th>交易ID</th>
    <th>交易对手单子ID</th>
    <th>产品</th>
    <th>数量</th>
    <th>价格</th>
    <th>成交时间</th>
    <th>所属平台</th>
    <th>执行质量</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of renderList">
    <td>{{data.transactionId}}</td>
    <td>{{data.cpTransactionId}}</td>
    <td>{{data.productCode}}</td>
    <td>{{data.qty}}</td>
    <td>{{data.priceUSD}}</td>
    <td>{{data.timestamp | date}}</td>
    <td>天厚</td>
    <td>99%</td>
  </tr>
  </tbody>
</nz-table>
