.anticon .anticon-menu-fold  .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
.trigger{
  color: #666 !important;
}
.trigger:hover {
  color: #1890ff !important;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.user-info {
  float: right;
  margin-right: 30px;
}

.trigger {
  color: #000;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
}

.ant-back-top {
  background: #000;
  opacity: 0.6;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  right: 0;
  div {
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 40px;
  }
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
  margin: auto;
  .loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
  float: right;
}

#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-container {
  width: 100%;
  height: 100%;
  background-color: rgb(253, 251, 251);
  .login-side {
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 200px;
  }
}

.ant-form-item-children {
  // display: block;
  button {
    width: 100%;
  }
}
.go-top{
  position: fixed;
  bottom: 30px;
  right: -180px;
  background: #000;
  opacity: 0.7;
  color: #ffffff;
  width: 200px;
  height: 50px;
  z-index: 9999;
  border-radius:15px 0 0 15px;
  text-align: left;
  line-height: 48px; 
  // font-size: 30px;
  cursor: pointer;
  transition: all 0.5s;
  padding-left:5px ;
  font-size: 20px;
}
.go-top:hover{
  opacity: 0.8;
  right:-175px;
}
.news-notice{
  color: #1890ff;
  text-decoration: #1890ff;
  text-decoration: underline;
  cursor: pointer;
}